footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5vh 4vw;
    background-color: #152f58;
    font-family: var(--default-body-font);
}

footer h3 {
    font-family: var(--default-title-font);
    font-size: 2rem;
    color: #FFFFFF;
}

footer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

form input{
    width: 40vw;
    height: 5vh;
    padding: 2vh 1vw;
    border-radius: 0.4vw;
    font-size: 1rem;
    font-family: var(--default-body-font);
}

form textarea {
    width: 40vw;
    max-width: 40vw;
    min-width: 40vw;
    height: 30vh;
    min-height: 30vh;

    padding: 2vh 1vw;
    border-radius: 0.4vw;
    font-size: 1rem;
    font-family: var(--default-body-font);
}

form button {
    padding: 1vh 3vw;
    font-size: 1rem;
    border-radius: 0.2vw;
    background-color: #13e3ab;
    border: none;
}

form button:hover {
    background-color: #0df6b8;
}