footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3vh;
    padding: 5vh 4vw;
    background-color: #152f58;
    font-family: var(--default-body-font);
}

footer h3 {
    font-family: var(--default-title-font);
    font-size: 2rem;
    color: #FFFFFF;
}

footer .form-hire {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vh;
}

.form-hire .text-input{
    width: 40vw;
    height: 5vh;
    padding: 2vh 1vw;
    border-radius: 0.4vw;
    font-size: 1rem;
    font-family: var(--default-body-font);
}

.form-hire .message-input {
    width: 40vw;
    max-width: 40vw;
    min-width: 40vw;
    height: 30vh;
    min-height: 30vh;

    padding: 2vh 1vw;
    border-radius: 0.4vw;
    font-size: 1rem;
    font-family: var(--default-body-font);
}

.form-hire .send-btn {
    padding: 1vh 3vw;
    font-size: 1rem;
    border-radius: 0.2vw;
    background-color: #13e3ab;
    border: none;
}

.form-hire .send-btn:hover {
    background-color: #0df6b8;
}

@media screen and (max-width: 768px) {
    footer h3 {
        font-size: 3rem;
    }

    .form-hire .text-input{
        padding: 1vh 2vw;
        font-size: 1.2rem;
    }

    .form-hire .message-input {
        height: 20vh;
        min-height: 20vh;
        padding: 1vh 2vw;
        font-size: 1.2rem;
    }

    .form-hire .send-btn {
        padding: 1vh 4vw;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 425.5px) {
    footer h3 {
        font-size: 6rem;
    }

    .form-hire .text-input{
        padding: 1vh 3vw;
        font-size: 3rem;
        width: 60vw;
    }

    .form-hire .message-input {
        width: 60vw;
        min-width: 60vw;
        max-width: 60vw;
        height: 20vh;
        min-height: 20vh;
        padding: 1vh 3vw;
        font-size: 3rem;
    }

    .form-hire .send-btn {
        padding: 1vh 8vw;
        font-size: 4rem;
        border-radius: 0.2vw;
    }
}